.elementor-104 .elementor-element.elementor-element-411e55f > .elementor-container {max-width: 500px;}
.elementor-104 .elementor-element.elementor-element-0ebcd09 {text-align: right;}
.elementor-104 .elementor-element.elementor-element-c7ccfcb {text-align: left;}
.elementor-104 .elementor-element.elementor-element-198c68b > .elementor-container {max-width: 500px;}
.elementor-104 .elementor-element.elementor-element-d47e973 {text-align: left;}
.elementor-104 .elementor-element.elementor-element-64a0de6 {text-align: center;}
.elementor-104 .elementor-element.elementor-element-8a4d87e .elementor-text-editor {text-align: center;}
.elementor-104 .elementor-element.elementor-element-8a4d87e {color: #000;font-family: "Abel",Sans-serif;font-weight: 400;}
.elementor-104 .elementor-element.elementor-element-8a4d87e > .elementor-widget-container {border-radius: 3px 3px 3px 3px;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);}